@CHARSET "UTF-8";

.navbar-btn {
    margin-left: 4px;
    margin-right: 4px;
}

.container .text-muted {
margin: 13px 0;
}

.centered-form{
    margin-top: 60px;
}

/* .centered-form .panel{ */
/*     background: rgba(255, 255, 255, 0.8); */
/*     box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px; */
/* } */