@CHARSET "UTF-8";

body {
    font-family: "Consolas", Arial;
    background : url(../images/canvas.png);
}

.content {
    position: absolute;
    height: 95%;
    width: 99%;
}

.join {
    position: absolute;
    height: 300px;
    width: 240px;
    margin: -150px 0 0 -120px;
    top: 50%;
    left: 50%;
}

.login {
    position: absolute;
    height: 300px;
    width: 240px;
    margin: -150px 0 0 -120px;
    top: 50%;
    left: 50%;
}

.add {
    position: absolute;
    height: 300px;
    width: 240px;
    margin: -150px 0 0 -120px;
    top: 50%;
    left: 50%;
}

.uploaded-img {
    width: 500px;
    height: auto;
    object-fit: contain;
    -moz-object-fit: contain;
    -ms-object-fit: contain;
    -o-object-fit: contain;
    -webkit-object-fit: contain;
}

.box {
    height: 300px;
    background-color: #d9d9d9;
    position: relative;
    margin-left: -250px; /* half of width */
    left: 50%;
}